my_robot_controller/
key_07_01_2025
key_07_01_2025.pub
rosbag2_2025_07_01-03_22_24/
*.json
*.log
src/ros-carla-msgs/
install/carla_msgs/
build/carla_msgs/
src/plotly_ros/plotly_ros/rosbag2_2025_07_11-05_09_26
src/plotly_ros/plotly_ros/complete_log.csv
src/plotly_ros/plotly_ros/rosbag2_2025_07_15-03_58_32/
src/plotly_ros/plotly_ros/rosbag2_2025_07_15-04_12_22/
src/plotly_ros/plotly_ros/speed_error_log.csv
src/plotly_ros/plotly_ros/complete_log_graph.png
src/plotly_ros/plotly_ros/rosbag2_2025_07_16-07_04_50/
src/plotly_ros/plotly_ros/rosbag2_2025_07_16-07_06_16/
src/plotly_ros/plotly_ros/plot_odometry_x_position_vs_time.png
src/plotly_ros/image.png
src/plotly_ros/plotly_ros/PID tuning plots/
src/plotly_ros/plotly_ros/odometry_x_position.csv
src/plotly_ros/plotly_ros/odometry_x_pos_and_vel.csv
src/plotly_ros/plotly_ros/pid_trajectory_log.csv
src/plotly_ros/plotly_ros/reference_and_pid_trajectory_vs_time.png
src/plotly_ros/plotly_ros/PIDBUFFER.py
src/plotly_ros/plotly_ros/longitudinal_speed_matching_pid.py
src/plotly_ros/plotly_ros/PP_BUFFER.py
src/plotly_ros/plotly_ros/max_acc_max_brake.py
build/plotly_ros/colcon_command_prefix_setup_py.sh.env
carla_merged_data.csv
build/plotly_ros/colcon_command_prefix_setup_py.sh.env
build/plotly_ros/plotly_ros.egg-info/SOURCES.txt
build/plotly_ros/prefix_override/__pycache__/sitecustomize.cpython-310.pyc
build/*
src/plotly_ros/plotly_ros/PID_longitudinal datas/1 with limited data and 20hz/odometry_x_pos_and_vel.csv
src/plotly_ros/plotly_ros/PID_longitudinal datas/1 with limited data and 20hz/speed_error_log.csv
src/plotly_ros/plotly_ros/PID_longitudinal datas/1 with limited data and 20hz/pid_trajectory_log.csv
src/plotly_ros/plotly_ros/PID_longitudinal datas/1 with limited data and 20hz/plot_odometry_x_position_vs_time.png
src/plotly_ros/plotly_ros/PID_longitudinal datas/1 with limited data and 20hz/reference_and_pid_trajectory_vs_time.png
src/plotly_ros/plotly_ros/PID_longitudinal datas/1 with limited data and 20hz/rosbag2_2025_07_16-07_06_16/rosbag2_2025_07_16-07_06_16_0.db3
src/plotly_ros/plotly_ros/PID_longitudinal datas/1 with limited data and 20hz/rosbag2_2025_07_16-07_06_16/metadata.yaml
build/plotly_ros/colcon_command_prefix_setup_py.sh.env
build/plotly_ros/plotly_ros.egg-info/SOURCES.txt
build/plotly_ros/prefix_override/__pycache__/sitecustomize.cpython-310.pyc
log/latest_build
build/plotly_ros/colcon_command_prefix_setup_py.sh.env
build/plotly_ros/plotly_ros.egg-info/SOURCES.txt
build/plotly_ros/prefix_override/__pycache__/sitecustomize.cpython-310.pyc
log/latest_build
build/plotly_ros/colcon_command_prefix_setup_py.sh.env
build/plotly_ros/plotly_ros.egg-info/SOURCES.txt
build/plotly_ros/prefix_override/__pycache__/sitecustomize.cpython-310.pyc
log/latest_build
src/plotly_ros/plotly_ros/.~lock.carla_merged_data.csv#
src/plotly_ros/plotly_ros/CSV/preprocessed_trajectory.txt
src/plotly_ros/plotly_ros/build/.built_by
src/plotly_ros/plotly_ros/build/.built_by
src/plotly_ros/plotly_ros/build/COLCON_IGNORE
src/plotly_ros/plotly_ros/install/_local_setup_util_ps1.py
src/plotly_ros/plotly_ros/install/_local_setup_util_sh.py
src/plotly_ros/plotly_ros/install/.colcon_install_layout
src/plotly_ros/plotly_ros/install/.colcon_install_layout
src/plotly_ros/plotly_ros/install/COLCON_IGNORE
src/plotly_ros/plotly_ros/install/local_setup.bash
src/plotly_ros/plotly_ros/install/local_setup.ps1
src/plotly_ros/plotly_ros/install/local_setup.sh
src/plotly_ros/plotly_ros/install/local_setup.zsh
src/plotly_ros/plotly_ros/install/setup.bash
src/plotly_ros/plotly_ros/install/setup.ps1
src/plotly_ros/plotly_ros/install/setup.sh
src/plotly_ros/plotly_ros/install/setup.zsh
src/plotly_ros/plotly_ros/log/COLCON_IGNORE
src/plotly_ros/plotly_ros/log/latest
src/plotly_ros/plotly_ros/log/latest_build
build/plotly_ros/plotly_ros.egg-info/SOURCES.txt
log/latest_build
build/plotly_ros/colcon_command_prefix_setup_py.sh.env
build/plotly_ros/prefix_override/__pycache__/sitecustomize.cpython-310.pyc
build/plotly_ros/colcon_command_prefix_setup_py.sh.env
build/plotly_ros/plotly_ros.egg-info/SOURCES.txt
build/plotly_ros/prefix_override/__pycache__/sitecustomize.cpython-310.pyc
log/latest_build
src/plotly_ros/plotly_ros/build/.built_by
src/plotly_ros/plotly_ros/install/_local_setup_util_ps1.py
src/plotly_ros/plotly_ros/install/_local_setup_util_sh.py
src/plotly_ros/plotly_ros/install/.colcon_install_layout
src/plotly_ros/plotly_ros/install/COLCON_IGNORE
src/plotly_ros/plotly_ros/install/local_setup.bash
src/plotly_ros/plotly_ros/install/local_setup.ps1
src/plotly_ros/plotly_ros/install/local_setup.sh
src/plotly_ros/plotly_ros/install/local_setup.zsh
src/plotly_ros/plotly_ros/install/setup.bash
src/plotly_ros/plotly_ros/install/setup.ps1
src/plotly_ros/plotly_ros/install/setup.sh
src/plotly_ros/plotly_ros/install/setup.zsh
src/plotly_ros/plotly_ros/log/COLCON_IGNORE
src/plotly_ros/plotly_ros/log/latest
src/plotly_ros/plotly_ros/log/latest_build
build/plotly_ros/colcon_command_prefix_setup_py.sh.env
build/plotly_ros/plotly_ros.egg-info/SOURCES.txt
build/plotly_ros/prefix_override/__pycache__/sitecustomize.cpython-310.pyc
build/*
log/latest_build
src/plotly_ros/plotly_ros/CSV/pid_merged.csv
src/plotly_ros/plotly_ros/rosbag2_2025_07_25-16_48_11/metadata.yaml
src/plotly_ros/plotly_ros/rosbag2_2025_07_25-16_48_11/rosbag2_2025_07_25-16_48_11_0.db3
src/plotly_ros/plotly_ros/__pycache__/final_pid.cpython-310.pyc
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-00_38_56/metadata.yaml
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-00_38_56/rosbag2_2025_07_26-00_38_56_0.db3
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-00_43_17/metadata.yaml
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-00_43_17/rosbag2_2025_07_26-00_43_17_0.db3
src/plotly_ros/plotly_ros/CSV/Video/Video1/Dash.pdf
src/plotly_ros/plotly_ros/CSV/Video/Video1/video1_demo-2025-07-26_01.57.10.mkv
src/plotly_ros/plotly_ros/CSV/Video/Video1/Video1_simulation_results-2025-07-26_02.03.21.mkv
src/plotly_ros/plotly_ros/CSV/Video/VIdeo2/Video2_simulation_results-2025-07-26_03.25.45.mkv
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-01_57_44/metadata.yaml
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-01_57_44/rosbag2_2025_07_26-01_57_44_0.db3
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-02_09_50/metadata.yaml
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-02_09_50/rosbag2_2025_07_26-02_09_50_0.db3
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-02_14_05/metadata.yaml
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-02_14_05/rosbag2_2025_07_26-02_14_05_0.db3
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-02_19_16/metadata.yaml
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-02_19_16/rosbag2_2025_07_26-02_19_16_0.db3
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-03_02_19/metadata.yaml
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-03_02_19/rosbag2_2025_07_26-03_02_19_0.db3
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-03_26_19/metadata.yaml
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-03_26_19/rosbag2_2025_07_26-03_26_19_0.db3
src/plotly_ros/plotly_ros/CSV/Video/VIdeo2/Video2_simulation_results-2025-07-26_03.41.56.mkv
src/plotly_ros/plotly_ros/CSV/Video/VIdeo2/Video2_simulation_results-2025-07-26_03.42.43.mkv
src/plotly_ros/plotly_ros/CSV/Video/Video3/Video3_simulation_results-2025-07-26_03.59.43.mkv
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-03_43_35/metadata.yaml
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-03_43_35/rosbag2_2025_07_26-03_43_35_0.db3
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-03_51_07/metadata.yaml
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-03_51_07/rosbag2_2025_07_26-03_51_07_0.db3
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-04_00_04/metadata.yaml
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-04_00_04/rosbag2_2025_07_26-04_00_04_0.db3
src/plotly_ros/plotly_ros/rosbag2_2025_07_11-17_44_00/metadata.yaml
src/plotly_ros/plotly_ros/rosbag2_2025_07_11-17_44_00/rosbag2_2025_07_11-17_44_00_0.db3
src/plotly_ros/plotly_ros/CSV/Video/Video1_simulation-2025-07-26_13.59.15.mkv
src/plotly_ros/plotly_ros/CSV/Video/Steering Videos/Video1/Video1_simulation-2025-07-26_14.04.14.mkv
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-14_04_28/metadata.yaml
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-14_04_28/rosbag2_2025_07_26-14_04_28_0.db3
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-14_07_14/metadata.yaml
src/plotly_ros/plotly_ros/rosbag2_2025_07_26-14_07_14/rosbag2_2025_07_26-14_07_14_0.db3
src/plotly_ros/plotly_ros/CSV/Video/Steering Videos/Video1/pure pursuit output.pdf
src/plotly_ros/plotly_ros/CSV/Video/Steering Videos/Video1/gif conversion/converted_video.mp4
src/plotly_ros/plotly_ros/CSV/Video/Steering Videos/Video1/error_analysis.pdf
src/plotly_ros/plotly_ros/CSV/Video/Steering Videos/Video1/gif conversion/mp4_steering_simulation.mp4
src/plotly_ros/plotly_ros/CSV/Video/Steering Videos/Video1/dashboard.pdf
src/plotly_ros/plotly_ros/CSV/Video/Steering Videos/Video1/mp4_steering_simulation-ezgif.com-video-to-gif-converter.gif
src/plotly_ros/plotly_ros/CSV/Video/Steering Videos/Video1/dashboard_graph_photos/gnss_comparison.png
src/plotly_ros/plotly_ros/CSV/Video/Steering Videos/Video1/dashboard_graph_photos/IMU_comparison.png
src/plotly_ros/plotly_ros/CSV/Video/Steering Videos/Video1/dashboard_graph_photos/position_comparison.png
src/plotly_ros/plotly_ros/CSV/Video/Steering Videos/Video1/dashboard_graph_photos/speedometer_comparison.png
src/percep_plan/percep_plan/test_code.py
training_history.png
src/percep_plan/percep_plan/only_yolo_perception.py
.gitignore
src/percep_plan/percep_plan/test_bisenetv2_offline.py
src/percep_plan/percep_plan/test_bisenetv2.py
src/percep_plan/percep_plan/test_road_detection.py
src/percep_plan/percep_plan/test_yolo_seg.py
src/percep_plan/percep_plan/train_yolo_seg.py
src/percep_plan/percep_plan/BiSeNetV2_carla.v6i.png-mask-semantic/*
src/percep_plan/percep_plan/carla_images/*
yolov8x-seg.pt
bisenetv2_carla_final.pth
src/virtual_vehicle_control/android_app_setup_file.md
src/virtual_vehicle_control/virtual_vehicle_control/webpage_ws/node_modules/*
build/*
log/latest_build
src/virtual_vehicle_control/virtual_vehicle_control/logo/ROS2_humble.png
src/virtual_vehicle_control/virtual_vehicle_control/logo/carla.png
src/virtual_vehicle_control/virtual_vehicle_control/gifs/controller_app_simulation_test-2025-08-07_04.12.11.mkv
src/virtual_vehicle_control/virtual_vehicle_control/gifs/controller_app-2025-08-07_04.19.07.mkv
src/percep_plan/percep_plan/gifs/semantic segmentation-2025-08-12_17.03.11.mkv
